name: Starter Pipeline #Worflow name

on: 
- push #trigger
- workflow_dispatch #manual

jobs: 
  test:
    runs-on: ubuntu-latest #runner

    strategy:
      matrix:
        dotnet-version: [4.x,6.x, 7.x, 8.x]
      fail-fast: false  # Continue all matrix jobs even if one fails

    steps:
      - name: Hello World Command
        run: echo "Hello World!" > demo.txt
        # use run to execute shell commands directly on the runner
      - run: cat demo.txt
