name: CI pipeline

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Check out Code
        uses: actions/checkout@v6.0.2

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v5.1.0
        with:
          dotnet-version: '8.x'

      - name: Restore 
        run: dotnet restore

      - name: Build
        run: dotnet build

        
      - name: Publish- Create a NuGet Package
        run: dotnet publish --output ./nupkg

      - name: Collect/upload artifact
        uses: actions/upload-artifact@v6.0.0
        with:
            name: nuget-package
            path: ./nupkg
      
  deploy:
    runs-on: windows-latest
    needs: build

    steps:

      - name: Download artifact
        uses: actions/download-artifact@v7.0.0
        with:
            name: nuget-package
            path: ./nupkg

      - name: Azure Login
        uses: Azure/login@v2.3.0
        with:
            creds: ${{secrets.AZURE_CRED}}

      - name: Depoloy to Azure web apps
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'techmwebapp'
          package: ./nupkg